<div class="section">
<!--    todo add google sheets spreadsheet with hours and graphs, etc, presentable -->
    <h2>College and Education</h2>
    <p>
        After completing a year at the "arts" high school 'LACHSA' for theatre, I had dropped out in pursuit of greater control over my education.
        The conventional high school educational system is deeply flawed, and lacks any sort of computer science or technologically based curriculum; everything is inefficient.
        I then did what is legally considered homeschooling. While completing the necessary tenth grade coursework, I began learning computer science, programming, and data analysis on my free time (of which I had a lot).
        I left home at 15 years old (after tenth grade) to attend two years at <a href="simons-rock.edu">Bard College at Simon's Rock</a>, a small college (that accepts students early) in the Berkshires of Massachusetts where I received my Associate of Arts Degree.
        Since then I have been building up my skills and resume in regards to graphic design, 3D-Modeling, and data analysis; something that University was forestalling.
    </p>
    <h2>Time Log and Efficiency Ethic</h2>
    <p>

    </p>
</div>
