<div class="section">
    <h2>
        Study
    </h2>

    <ul class="timeline">
        <div class="vertical-line"></div>
        <li>
            <div class="time">2018</div>
            <a href="https://simons-rock.edu/">
                <img src="assets/img/src.svg">
            </a>
            <div class="info">
                <h3>
                    SART-218
                    <em>Graphic Design</em>
                </h3>
                <h4>Spring 2018</h4>
                <p>
                    This course is an introduction to the underlying principles of graphic design and the digital tools
                    available to translate an artist's vision into a physical or digital
                    product. Students will use the Adobe Creative Suite, as well as shareware software to create
                    posters, logos and letterhead, and eventually a comprehensive website that will
                    showcase projects from the semester, such as the college's Glacial Erratic publication. The purpose
                    of this class is to achieve a proficiency in a set of imaging tools and to
                    understand computer-aided graphic imaging.
                </p>
            </div>
        </li>
    </ul>
    <h2>
        Graphic Design
    </h2>
    <div class="project-card">
        <script>
            slideshow('slide_logo1');
        </script>
        <a class="logo">
            <img class="slide_logo1" src="assets/img/migos.png" style="border: 1px solid black">
            <img class="slide_logo1" src="assets/img/malone.png" style="border: 1px solid black">
            <img class="slide_logo1" src="assets/img/savage.png" style="border: 1px solid black">
        </a>
        <div class="info">
            <h3>Class project: <em>Movie Poster</em></h3>
            <p>
                Make three movie posters of a movie one would want to see.
                Started this project in <a href="https://www.gimp.org/">GIMP</a>, an open source image manipulation program similar to Adobe PS,
                which I then switched to.
            <p>

            <div class="at-a-glance-push"></div>
            <div class="at-a-glance">
                <ul class="technologies">
                    <li>
                        <img src="assets/img/gimp.svg">
                        <span>GIMP</span>
                    </li>
                    <li>
                        <img src="assets/img/adobePS.svg">
                        <span>Adobe PS</span>
                    </li>
                </ul>
		<span class="dates">2018</span>
            </div>
        </div>
    </div>

    <div class="project-card">
        <a class="logo">
            <img src="assets/img/f9output.png" style="border: 1px solid black">
        </a>
        <div class="info">
            <h3>Class project: <em>Package Design</em></h3>
            <p>
                Create an appealing package design for a new product. I chose the SpaceX Falcon 9 Rocket.
                All files in the workspace are <a href="https://www.dropbox.com/sh/in8c53xjw4w7wkw/AABpCoCYGfBEFWy5kSU28jvba?dl=0">here</a>.
            <p>

            <div class="at-a-glance-push"></div>
            <div class="at-a-glance">
                <ul class="technologies">
                    <li>
                        <img src="assets/img/adobeIL.svg">
                        <span>Adobe IL</span>
                    </li>
                </ul>
		<span class="dates">2018</span>
            </div>
        </div>
    </div>

    <div class="project-card">
        <script>
            slideshow('slide_logo2');
        </script>
        <a class="logo">
            <img class="slide_logo2" src="assets/img/logo.svg" style="border: 1px solid black">
            <img class="slide_logo2" src="assets/img/body_logo.svg" style="border: 1px solid black">
            <img class="slide_logo2" src="assets/img/logo1.svg" style="border: 1px solid black">
        </a>
        <div class="info">
            <h3>Class project: <em>Logos</em></h3>
            <p>
                Make four logos about yourself.
                I initially used Adobe Illustrator which is not supported on linux, so <a href="https://inkscape.org/en/">Inkscape</a> was my next choice (the open source alternative to Illustrator).
            <p>

            <div class="at-a-glance-push"></div>
            <div class="at-a-glance">
                <ul class="technologies">
                    <li>
                        <img src="assets/img/inkscape.svg">
                        <span>Inkscape</span>
                    </li>
                    <li>
                        <img src="assets/img/adobeIL.svg">
                        <span>Adobe IL</span>
                    </li>
                </ul>
		<span class="dates">2018</span>
            </div>
        </div>
    </div>

    <div class="project-card">
        <a href="assets/book.pdf" class="logo">
            <img src="assets/img/cover.png" style="border: 1px solid black">
        </a>
        <div class="info">
            <h3>Class project: <em>Children's book</em></h3>
            <p>
                I found Scribus, an open source alternative to Adobe InDesign which I used to create the book.
                All of the vector graphics were done in Inkscape. You can view the raw files <a href="book_assets/">here</a>
            <p>

            <div class="at-a-glance-push"></div>
            <div class="at-a-glance">
                <ul class="technologies">
                    <li>
                        <img src="assets/img/inkscape.svg">
                        <span>Inkscape</span>
                    </li>
                    <li>
                        <img src="assets/img/scribus.svg">
                        <span>Scribus</span>
                    </li>
                </ul>
		<span class="dates">2018</span>
            </div>
        </div>
    </div>

    <div class="project-card">
        <a class="logo">
            <img src="assets/img/terminal.svg">
        </a>
        <div class="info">
            <h3>Class project: <em>Website</em></h3>
            <p>
                This project was to create a portfolio-like website, of which is still being developed.
            I turned in this Website as that portfolio.
            <p>

            <div class="at-a-glance-push"></div>
            <div class="at-a-glance">
                <ul class="technologies">
                    <li>
                        <img src="assets/img/html5.svg">
                    </li>
                    <li>
                        <img src="assets/img/js.svg">
                    </li>
                    <li>
                        <img src="assets/img/css3.svg">
                    </li>
                    <li>
                        <img src="assets/img/jquery.svg">
                    </li>
                </ul>
		<span class="dates">2016-2018</span>
            </div>
        </div>
    </div>
    <h2>
        3D Design
    </h2>
    <div class="project-card">
        <a class="logo">
            <img src="https://i.reddituploads.com/56e4fb7daf824a2e8b11135be3a740e8?fit=max&h=1536&w=1536&s=7b0b4db7dd2964954d0c88509749dd7a" style="border: 1px solid black">
        </a>
        <div class="info">
            <h3>Blender <em>Donut</em></h3>
            <p>
                Donut in blender. Following <a href="https://www.youtube.com/playlist?list=PLjEaoINr3zgHs8uzT3yqe4iHGfkCmMJ0P&disable_polymer=true">this</a> tutorial.
             <p>

            <div class="at-a-glance-push"></div>
            <div class="at-a-glance">
                <ul class="technologies">
                    <li>
                        <img src="assets/img/blender.svg">
                        <span>Blender</span>
                    </li>
                </ul>
		<span class="dates">2017</span>
            </div>
        </div>
    </div>

<!--    <div class="project-card">-->
<!--        <a class="logo">-->
<!--            <img src="https://i.redd.it/v7jyhv8mmy0z.png" style="border: 1px solid black">-->
<!--        </a>-->
<!--        <div class="info">-->
<!--            <h3>Blender <em>Low-poly hand</em></h3>-->
<!--            <p>-->
<!--                Low-poly hand in blender.-->
<!--             <p>-->

<!--            <div class="at-a-glance-push"></div>-->
<!--            <div class="at-a-glance">-->
<!--                <ul class="technologies">-->
<!--                    <li>-->
<!--                        <img src="assets/img/blender.svg">-->
<!--                        <span>Blender</span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--		<span class="dates">2017</span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
