<div class="section">
    <h2>Study</h2>
    <ul class="timeline">
        <div class="verticle-line"></div>
        <li>
            <div class="time">2019</div>
            <a href="simons-rock.edu">
                <img src="assets/img/src.svg">
            </a>
            <div class="info">
                <h3>
                    MATH-110
                    <em>Intro Statistics</em>
                </h3>
                <h4>Spring 2019</h4>
                <p>
                    A very basic fundamentals course regarding the starting principles of statistics and analysis. I took this mainly as a prerequisite.
                    An introduction to statistical methods for the collection, organization, analysis, and interpretation of numerical data.
                    Topics include probability, binomial and normal distributions, sampling, hypothesis testing, confidence limits, regression and correlation, and introductory analysis of variance.
                </p>
            </div>
        </li>
    </ul>

    <div class="project-card" style="width: 100%">
        <a href="https://docs.google.com/spreadsheets/d/1Cj-hJ3VXzEMalC0IMs-uH79rQqTwzcbAWobNdLmi7ew/edit?usp=sharing" class="logo">
            <img src="assets/img/timelog.jpg">
        </a>
        <div class="info">
            <h3>Time Log</h3>
            <P>
                This project started after seeing a post on Reddit under r/dataisbeautiful in which someone logged every hour of their year into categories.
                Since New Years Day 2018 I have been logging every hour into Google Sheets, an online alternative to Excel (which has very similar functions).
                With categories such as "sleep, productivity, class, friends, internet, etc.," I am able to quantify hours spent doing various tasks,
                and map correlations between categories that seem to influence each other. I can see which months and weeks I am lacking, and days and hours that I am most productive.
                More information can be read in the 'About' column.
            </P>
            <div class="at-a-glance-push"></div>
            <div class="at-a-glance">
                <ul class="technologies">
                    <li>
                        <img src="assets/img/sheets.png">
                        <span>Sheets</span>
                    </li>
                </ul>
                <span class="dates">2018, 2019</span>
            </div>
        </div>
    </div>

    <div class="project-card">
        <a href="https://www.kaggle.com/kingburrito666/kernels" class="logo">
            <img src="assets/img/kaggle.png">
        </a>
        <div class="info">
            <h3>Kaggle Projects</h3>
            <p>
                A collection of <a href="https://www.kaggle.com/kingburrito666/kernels">python notebooks</a> run on kaggle datasets.
                I also have 17+ datasets posted for <a target="_blank" href="https://www.kaggle.com/kingburrito666/datasets">viewing</a>
            <p>
            <div class="at-a-glance-push"></div>
            <div class="at-a-glance">
                <ul class="technologies">
                    <li>
                        <img src="assets/img/python.svg">
                        <span>Python</span>
                    </li>
                </ul>
                <span class="dates">2017-2018</span>
            </div>
        </div>
    </div>
</div>
