body {

}
h2 {
  font-weight: normal;
}
h3 {
  font-size: 1.5em;
}

.main {
  max-width: calc(900px - (30px * 2));
  margin-left: auto;
  margin-right: auto;
  padding: 30;
}
.main p {
  padding: 0;
}
